body{
    background: #7d7e7d;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    background: transparent;
    text-align: center;
    margin: 5%;
    color:#ffff;

}

main{
    background: transparent;
    margin: 3%;
    color:#ffff;


}


.container-flex{
    position: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}


.accordion-item{
    background-color: transparent;
    border-color: #ffffff5b;
    
}
.accordion-item .accordion-button{
    background-color: #ffffff83;
    color:#585858;
    
}
.accordion-button:active, .accordion-button:focus {
    background-color: #ffffff5b;
}
.accordion-body{
    color: #ffff;
}


/*  */


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow:hidden;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
    width: 340px;

}

.content__container {
    text-align: center;
    font-weight: 400;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content__container:before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
}

.content__container:before,
.content__container:after {
    position: absolute;
    top: 0;
    /* #16a085 */
    color: #ffffff;
    font-size: 35px;
    line-height: 40px;
    
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__list {
    margin-top: 0;
    padding-left: 100px;
    text-align: left;
    list-style: none;
    
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content__item {
    line-height:40px;
    margin:0;
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

::-webkit-scrollbar {
    width: 2px; /* Scrol barı genişliği */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.281); /* Scrol barı rengi ve şeffaflığı */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Scrol barı arka plan rengi ve şeffaflığı */
}

@media screen and (max-width: 992px) {
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
    main{
        overflow-x: hidden;
    }   

    .container-flex img{
        justify-content: center;
    }
    .content{
        font-size: 28px;
        width: 285px;
    }
    .content__list{
        padding-left: 75px;
    }
}